<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swroom.base.mapper.ForumUserMapper">
  <resultMap id="BaseResultMap" type="com.swroom.base.model.po.ForumUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="portrait" jdbcType="VARCHAR" property="portrait" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="integration" jdbcType="INTEGER" property="integration" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="user_type" jdbcType="TINYINT" property="userType" />
    <result column="trade" jdbcType="TINYINT" property="trade" />
    <result column="personal_name" jdbcType="VARCHAR" property="personalName" />
    <result column="personal_phone" jdbcType="VARCHAR" property="personalPhone" />
    <result column="personal_sex" jdbcType="TINYINT" property="personalSex" />
    <result column="personal_mail" jdbcType="VARCHAR" property="personalMail" />
    <result column="personal_company_name" jdbcType="VARCHAR" property="personalCompanyName" />
    <result column="personal_post" jdbcType="VARCHAR" property="personalPost" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="company_phone" jdbcType="VARCHAR" property="companyPhone" />
    <result column="company_mail" jdbcType="VARCHAR" property="companyMail" />
    <result column="contacts_name" jdbcType="VARCHAR" property="contactsName" />
    <result column="contacts_phone" jdbcType="VARCHAR" property="contactsPhone" />
    <result column="contacts_mail" jdbcType="VARCHAR" property="contactsMail" />
    <result column="contacts_post" jdbcType="VARCHAR" property="contactsPost" />
  </resultMap>
</mapper>